@model IEnumerable<Fatec.Treinamento.Model.DTO.CursosPorAssunto>

<li>@Html.ActionLink("Todos os cursos", "Index", "Curso")</li>
<li role="separator" class="divider"></li>
@foreach (var item in Model)
{
    <li>@Html.ActionLink(item.Nome + " (" + item.TotalCursos + ")", "Assunto", "Curso", new { Id = item.Id }, null) </li>
}

