@{
    ViewBag.Title = "Treinamentos AOXO";
}

<div id="banner-inicio" class="jumbotron full-width-div">
    <div class="container">
        <h1>Domine sua carreira</h1>
        <p class="lead">
            Bem vindo ao <b>AOXO</b>. A plataforma de tecnologia de aprendizado on-demand para você se manter capacitado
            e garantir a progressão da sua carreira.
        </p>
    </div>
</div>

<div id="detalhes-inicio" class="row">
    <div class="col-md-4">
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <h3>Nossas Trilhas</h3>
        <p>
            No sistema Fatec de treinamentos, você pode escolher a trilha de estudo designada pelo seu gestor para alavancar seus conhecimentos e
            aprimorar seu trabalho.
        </p>
        <p><a class="btn btn-link" href="@Url.Action("Trilhas","Help")">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        <h3>Autores</h3>
        <p>Veja quem são os autores dos cursos, tire dúvidas, contribua e torne-se também um dos autores do sistema de treinamentos e ajude seus colegas.</p>
        <p><a class="btn btn-link" href="@Url.Action("Autores","Help")">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        <h3>Atinja suas metas</h3>
        <p>
            A cada treinamento realizado, você acumula pontos que contribuem para os programas de avaliação de desempenho e busca do conhecimento. <br />
            Você poderá obter bônus exclusivos desses programas.
        </p>
        <p><a class="btn btn-link" href="@Url.Action("Pontos","Help")">Saiba mais &raquo;</a></p>
    </div>
</div>