html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
    padding-top: 50px;
    
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

#detalhes-inicio{
    margin-top:440px;
}

#banner-inicio{
    background-color: #222;
    color: #fff;
    height: 400px;
    text-align:center;
    padding-top:100px;
    border-radius: 0;
    margin-top: -25px;
}

#banner-inicio h1{
    color:#fff;
}

.navbar-brand{
    color:#fff;
    font-size: 18px;
    margin-top: -5px;
    margin-right: 0;
    line-height: 32px;
    vertical-align:middle;
    display:inline-block;
}

.navbar-brand .glyphicon{
    font-size:32px;
    vertical-align: middle;
    margin-right: 10px;
}


.navbar-inverse .navbar-brand {
    color:#fff;
}


.home-search-form {
    margin-right: 10px;
}

.btn-search {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse{
    background-color:#23303a;
}

.navbar-nav > li > a {
    font-size: 16px;
}

#txtPesquisaCurso{
    background-color: rgba(255, 255, 255, 0.06);
    color:#fff;
    border: none;   
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ecf0f1;
  color: #2c3e50;
  padding-top: 20px;
}


#detalhes-inicio div{
    text-align:center;
}

#detalhes-inicio div .glyphicon{
    font-size: 50px;
    color: #15a589;
}

.aoxo{
    
    font-family: verdana;
}

.aoxo .a{
    color: #15a589;
}

.aoxo .o{
    color:#d3532a;
}
.aoxo .x{
    color: #748fbf;
}
.aoxo .q{
    color: #ce88de;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #15a589;
}

.navbar-inverse .navbar-link:hover {
    color: #15a589;
}

.selecionar-curso {
    height: 200px !important;
}

.estrela-classificacao {
    color: gold;
    font-size: 20px;
}

.capitulos-container {
    width: 700px;
}

.capitulos {
    margin-top: 50px;
}

.capitulos .capitulo {
    padding: 10px 0;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    font-size: 17px;
}

.capitulos .video {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #ccc;
    padding-left: 25px;
}


.capitulos .video a {
    color: #000;
}

.capitulos .glyphicon {
    margin-right: 10px;
}

.full-width-div .row {
    margin: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}


.capitulos-player {
    margin-top: 0px;
}

.capitulos-player .capitulo {
    padding: 10px 10px;
    border-bottom: solid 1px #262626;
    border-top: solid 1px #262626;
    font-size: 15px;
    color: #ccc;
}

.capitulos-player .video {
    padding: 10px;
    background-color: #060606;
    color: #aaa;
    border-bottom: solid 1px #262626;
    padding-left: 25px;
    font-size: 13px;
}

.capitulos-player .video.selecionado {
    color: orange;
}

.capitulos-player .video.selecionado a {
    color: orange !important;
}

.capitulos-player .video a {
    color: #aaa;
}

.capitulos-player .glyphicon {
    margin-right: 10px;
}
.detalhes:hover{
    cursor:pointer;
}

.imagem-trilha{
    text-align: center;
}
.imagem-trilha span{
    text-align:center;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center-customize {
    text-align: center;
    width: 230px;
}

.center-customize a{
    color: #15A589;
    text-decoration: none !important;
}