<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TreinamentoConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Treinamento;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>